# Core LangChain and LLM dependencies
llama-cpp-python==0.2.20
# pandas
requests
tensorflow
python-dotenv
fastapi
uvicorn[standard]
pymongo
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pillow
pydantic
